{% extends 'base.html' %}
{% load static %}



{% block title %}
Login
{% endblock %}

{% block content %}
<style>
   .tct{
      background-color: rgb(0, 0, 0);
      color: white;
      height: 50px;
      padding: 10px;
    
    
    }
    .xtx{
      color: white;
      position: relative;
      bottom: 40px;
    }
    .ph{
      position: relative;
      bottom: 80px;
      margin-right: 10px;

    }
    
    .ac{
      position: relative;
      bottom: 200px;
      left: 125px;
    }
</style>






    

    

  <div class="container">

    {% for msg in messages %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>{{msg}}</strong>
    {% endfor %}
    </div>
    

    <form action="" method="post" class="all-g">
        {% csrf_token %}
            <section class="vh-100">
                <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{% static '/images/login.png' %}"
                        class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h1 class="lead fw-normal mb-0 me-3">Welcome </h1>
                        
                        </div>
            
                        <div class="divider d-flex align-items-center my-4">
                    
                        </div>
            
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                        <input type="email" name="Email" maxlength="254" required id="id_Email" class="form-control form-control-lg"
                            placeholder="Enter your email address" />
                        <label class="form-label" for="id_Email">Email address</label>
                        </div>
            
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                        <input type="password" name="Password" maxlength="8" minlength="2" required id="id_Password" class="form-control form-control-lg"
                            placeholder="Enter password" />
                        <label class="form-label" for="form3Example4">Password</label>
                        </div>
            

            
                        <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" value="save" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                            class="link-danger">Signup</a></p>
                        </div>
            
                    </form>
                    </div>
                </div>
                </div>
                
            </section>
    </form>

  
   
    
    <div class="tct">
      <p class="  li-1 ">&copy; 2023 city Hospital, Inc</p>
      <p class="text-center xtx"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
      </svg> cityhospital@gmail.com</p>
      <p class="text-md-end ph"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg> 9072476063</p>


    </div>
   
  </div>

    <!-- <section>
      <footer class="pt-2 pb-2 bg-primary text-light">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-8">
              <h4>Emergency Contact Number: 0123456789</h4>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-end">
              © 2022 City Hospital. All Rights Reserved
            </div>
          </div>
        </div>
      </footer>
    </section> -->

    {% endblock %}


